.benefit {
    position: relative;
    padding: 525px 0 120px;
    background-image: url(../images/benefit-bg2.png);
    background-repeat: no-repeat;
    background-size: 1240px 453px;
    background-position: center top;
}
.benefit__img{
    position: absolute;
    top: 0;
}
.benefit__img-text{
    width: 362px;
    position: absolute;
    top: 178px;
    left: 90px;
    font-family: Exo-2;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    color: $white-clr;
    z-index: 50;
}
.benefit__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 62px;
    flex-wrap: wrap;
    padding: 0 142px 0 66px;
}
.benefit__item {
    @include Display($items:center, $space:start, $gap:40px);
}
.benefit__icon-wrapper {
    width: 80px;
    height: 80px;
    background-color: #E9E9EC;
    border-radius: 50%;
    @include Display($items:center, $space:center, $gap:0px);
}
.benefit__text-wrapper {
    width: 291px;
}
.benefit__subtitle {
    font-family: Exo-2;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    color: $black-clr; 
}
.benefit__text {
    font-family: PT-Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $black-clr;
}

// Responsive Start
// Tablet Start
@media(max-width:1090px){
    .benefit {
        position: relative;
        padding: 431px 0 100px;
        background-image: url(../images/benefit-tablet-bg2.png);
        background-repeat: no-repeat;
        background-size: 729px 383px;
        background-position: center top;
        margin: 0 19px 0 19px;
    }
    .benefit__img{
        width: 600px;
        height: 383px;
        position: absolute;
        top: 0;
    }
    .benefit__img-text{
        width: 362px;
        position: absolute;
        top: 178px;
        left: 90px;
        font-family: Exo-2;
        font-size: 48px;
        font-weight: 600;
        line-height: 60px;
        color: $white-clr;
        z-index: 50;
    }
    .benefit__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 62px;
        flex-wrap: wrap;
        padding: 0;
    }
    .benefit__item {
        @include Display($items:center, $space:start, $gap:40px);
    }
    .benefit__icon-wrapper {
        width: 89px;
        height: 88px;
    }
}
// Tablet End
// Mobile Start
@media(max-width:660px){
    .benefit-section{
        display: none;
    }
}
// Mobile End
// Responsive End